<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BlurNet</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <link rel="stylesheet" href="static/css/include/bootstrap-4.4.1-dist/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
    <div class="navpanel" style="margin-bottom: 2px;">
        <center class="container">
            <div class="row">
                <div class="col-md-4 itemnav"><a href="/">HOME </a></div>
                <div class="itemnav col-md-4"><a href="/api/">API </a></div>
<!--                <div class="itemnav col-md-4"><a href="/admin/">ADMIN </a></div>-->
                <!-- <div class="itemnav"><a href="about.html">ABOUT US</a></div> -->
            </div>
        </center>
    </div>
<!--    <div class="navpanel">-->
<!--        <center class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-md-4 itemnav"><a href="/">HOME </a></div>-->
<!--                <div class="itemnav col-md-4"><a href="#">BlurNet </a></div>-->
<!--                <div class="itemnav col-md-4"><a href="/ann_carFill">CarRealFill </a></div>-->
<!--                &lt;!&ndash; <div class="itemnav"><a href="about.html">ABOUT US</a></div> &ndash;&gt;-->
<!--            </div>-->
<!--        </center>-->
<!--    </div>-->
    
</head>
<body onload="init();">
    <div class="container">
            {% verbatim %}
            <div id="app">
                <center><img src="static/source/pepeTolet.gif" width=40px> {{message}} <img src="static/source/pepeTolet.gif" width=40px></center>
                <h1>О "NoJpeg"</h1>
                <div class="about row d-flex">
                    <div class="col-md-6 text-right justify-content-center align-self-center">
                        BlurNet - это обученная на востановление сжатого изображения, которое сохранили в плохом качестве формата JPEG.
                        Она сможет восстановить изображение и добавить к нему деталей.
                        Особенность этой сети в том, что она обучена на изображениях природы, птиц и т.д. 
                        Таким образом нейронная сеть сможет понять как устроен тот или иной объект на фотографии и дополнить его иходя из прошлых изображений этого же объекта, например дорисовать иголке сосне.

                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <img src="static/source/img1_2.png" width="400px">
                    </div>
                    
                </div>
                <!-- <h2>Примеры работы нейронной сети</h2>
                <div class="row">
                    <div class="col-md-6 slider-cont">
                        <img src="static/source/exmpl1.jpg" alt="" width="256px" class="slider-img1">
                        <img src="static/source/exmpl2.jpg" alt="" width="256px" class="slider-img2">
                    </div>
                </div> -->
                <hr>
                <h2>Обработка изображений</h2>
                <!-- На случай если у вас нет размытого изображения для тестирования нейронной сети, можно обработать любое загруженное изображение прям тут. -->
                <div class="paneltool">
                    <div class="imageContainer row">
                        <div class="col-md-4 block">
                            <center><b>Сжатое изображение</b></center>
                            <!-- <img :src="base64Img.src" class="img" alt="" srcset="" width="256px"> -->
                            <div :style="imgDir" class="img"></div>
                            <input type="file" v-on:change="uploadImage">
                        </div>
                        <center class="col-md-4">
                            <template v-if="uploaded">
                                <input type="button" value="Convert" v-on:click="submitdata('blurAnn')"><br>
                                <input type="button" value="Convert and download" v-on:click="submitdata('blurAnn', true)">
                            </template>
                            <template v-else>
                                <div style="color:rgb(150, 99, 99)">Загрузите своё изображение</div>
                                <input type="button" value="Convert" disabled><br>
                                <input type="button" value="Convert and download" disabled>
                            </template>
                            <div v-if="blur_proc" class="preload">
                                <img width="40px" src="static/source/preloader.svg">
                            </div>
                            <div v-else class="preload">
                                
                            </div>
                        </center>
                        <div class="col-md-4">
                            <center><b>Итоговое изображение</b></center>
                            <!-- <img :src="base64Img.src" class="img" alt="new_img" width="256px" :style="new_img">  -->
                            <div :style="new_img" class="img"></div>
                        </div>
                    </div>
                </div>
                <hr>
                
                <div class="footer">
                    Made with love <br>
                    by Igor Cherepanov <br><img src="static/source/pepe.gif" width=70px>
                </div>
            </div>
            {% endverbatim %}
        <Center>
        </Center>
    </div>
    
    <script src="static/app.js"></script>
</body>
</html>