<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page BlurNet</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <link rel="stylesheet" href="static/css/include/bootstrap-4.4.1-dist/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
    <div class="navpanel" style="margin-bottom: 2px;">
        <center class="container">
            <div class="row">
                <div class="col-md-4 itemnav"><a href="#">HOME </a></div>
                <div class="itemnav col-md-4"><a href="/ann_blurNet">NoJpeg </a></div>
                <div class="itemnav col-md-4"><a href="/api/">API </a></div>
                <!-- <div class="itemnav"><a href="about.html">ABOUT US</a></div> -->
            </div>
        </center>
    </div>
<!--    <div class="navpanel">-->
<!--        <center class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-md-4 itemnav"><a href="#">HOME </a></div>-->
<!--                <div class="itemnav col-md-4"><a href="/">BlurNet </a></div>-->
<!--                <div class="itemnav col-md-4"><a href="/ann_carFill">CarRealFill </a></div>-->
<!--                &lt;!&ndash; <div class="itemnav"><a href="about.html">ABOUT US</a></div> &ndash;&gt;-->
<!--            </div>-->
<!--        </center>-->
<!--    </div>-->
    
</head>
<body onload="init();">
    <div class="container">
            {% verbatim %}
            <div id="app">
                <center><img src="static/source/pepeTolet.gif" width=40px> {{message}} <img src="static/source/pepeTolet.gif" width=40px></center>
                <h1>BlurNet</h1>
<!--                <center>-->
<!--                    <img src="https://media1.tenor.com/images/f09be3b8863a9e51fd57b0ed62446670/tenor.gif?itemid=16643606" alt="" width="300px">-->
<!--                </center>-->
                 <div class=" text-right justify-content-center align-self-center">
                        BlurNet - Это проект объединяющий бэкенд Django и библиотеки tensorflow 2.4.0.
                     Таким образом можно обрабатывать изображения с использованием нейронных сетей, посылая изображения через запросы.
                     На данный момент работает одна нейронная сеть: NoJpeg.

                    </div>
                <h2>О "NoJpeg"</h2>
                <div class="about row d-flex">
                    <div class="col-md-6 text-right justify-content-center align-self-center">
                        BlurNet - это обученная на востановление сжатого изображения, которое сохранили в плохом качестве формата JPEG.
                        Она сможет восстановить изображение и добавить к нему деталей.
                        Особенность этой сети в том, что она обучена на изображениях природы, птиц и т.д.
                        Таким образом нейронная сеть сможет понять как устроен тот или иной объект на фотографии и дополнить его иходя из прошлых изображений этого же объекта, например дорисовать иголке сосне.

                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <img src="static/source/img1_2.png" width="400px">
                    </div>
                    
                </div>
                <hr>
                <!-- <canvas id="drawCanvas" width="600" height="400s"></canvas>
                <input type="radio" name="action" value="draw" checked> draw
                <input type="radio" name="action" value="erase" id="erase"> erase -->
<!--                <h2>Примеры работы нейронной сети</h2>-->
<!--                <div class="row">-->
<!--                    <div class="col-md-12 slider-cont">-->
<!--                        <img src="static/source/exmpl1.jpg" alt="" height="256px" class="slider-img1">-->
<!--                        <img src="static/source/exmpl2.jpg" alt="" height="256px" class="slider-img2">-->
<!--                        <img src="static/source/exmpl1.jpg" alt="" height="256px" class="slider-img1">-->
<!--                        <img src="static/source/exmpl2.jpg" alt="" height="256px" class="slider-img2">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <hr>-->
                <h2>Обработка изображений</h2>
                <!-- На случай если у вас нет размытого изображения для тестирования нейронной сети, можно обработать любое загруженное изображение прям тут. -->
                <div class="paneltool">
                    <div class="imageContainer row">
                        <div class="col-md-1"></div>
                        <div class="col-md-3 block">
                            <center><b>Original</b></center>
                            <!-- <img :src="base64Img.src" class="img" alt="" srcset="" width="256px"> -->
                            <div :style="imgDir" class="img"></div>
                            <input type="file" v-on:change="uploadImage">
                        </div>
                        <center class="col-md-4">
                            Интенсивность блюра <br> 
                            <input type="range" name="blurintensive" v-bind:value="blur_value" max="300" v-on:input="onBlurChange($event)" style="width: 200px;"> 
                             <div style="width: 56px;">{{blur_value/100}}px</div>
                             <div v-if="blur_value > 200" style="color:rgb(253, 120, 120)">Внимание! Сильная потеря деталей!</div> 
                             <div v-else style="color: white;"><br></div>
                            <br>
                            <template v-if="uploaded">
                                <input type="button" value="Download" v-on:click="submitdata('blurImg', true)">
                            </template>
                            <template v-else>
                                <div style="color:rgb(253, 120, 120)">Загрузите своё изображение</div>
                                <input type="button" value="Download" disabled>
                            </template>
                            <div v-if="blur_proc" class="preload">
                                <img width="40px" src="static/source/preloader.svg">
                            </div>
                            <div v-else class="preload">
                                
                            </div>
                        </center>
                        <div class="col-md-3">
                            <center><b>Blured</b></center>
                            <!-- <img :src="base64Img.src" class="img" alt="new_img" width="256px" :style="new_img">  -->
                            <div :style="new_img" class="img"></div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <hr>
                
                <div class="footer">
                    Made with love <br>
                    by Igor Cherepanov <br><img src="static/source/pepe.gif" width=70px>
                </div>
            </div>
            {% endverbatim %}
        <Center>
        </Center>
    </div>
    
    <script src="static/app.js"></script>

    <script>
        var c = createjs, stage, art;
        var x, y, listener, color;

        stage = new c.Stage("drawCanvas");
        art = stage.addChild(new c.Shape());
        art.cache(0,0,600,400);

        stage.on("stagemousedown", startDraw, this);

        function startDraw(evt) {
            listener = stage.on("stagemousemove", draw, this);
            stage.on("stagemouseup", endDraw, this);
            color = c.Graphics.getRGB(0, 0, 0);
            x = evt.stageX-0.001; // offset so we draw an initial dot
            y = evt.stageY-0.001;
            draw(evt); // draw the initial dot
        }

        function draw(evt) {
            art.graphics.ss(2,10).s(color).mt(x,y).lt(evt.stageX, evt.stageY);
            
            // the composite operation is the secret sauce.
            // we'll either draw or erase what the user drew.
            art.updateCache(erase.checked ? "destination-out" : "source-over");
            
            art.graphics.clear();
            x = evt.stageX;
            y = evt.stageY;
            stage.update();
        }

        function endDraw(evt) {
            stage.off("stagemousemove", listener);
            evt.remove();
        }
    </script>

</body>
</html>